body {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    margin:0;
    padding:0;
}



.centered {
    margin-left: auto;
    margin-right: auto;
    width: 990px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.level_1 > li > a {
    color: #337ab7;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.level_1 > li {
    display: inline-block;
    margin-right: 2rem;
    margin-left: 0;
}

.level_2 > li > a {
    color: #337ab7;
    text-decoration: none;
}

.level_2 > li {
    padding: 1rem 0 1rem 1rem;
}

.level_2 > li:hover{
    background-color: #337ab7;
}

.level_2 > li:hover a {
    color: #fff;
    background-color: #337ab7;
}

.level_2 {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 10rem;
    padding-left: 0;
}

.level_1 > li:hover > ul {
    display: block;
}







.logo {
    font-size:30px;
    text-transform: uppercase;

    background-color:#337ab7;
    color:#fff;

    display: inline-block;
    height:80px;

    padding:20px;

    box-sizing:border-box;

    border-radius: 5px;

    margin-top:10px;
    margin-bottom:50px;
}

.stripe {
    background-color:#337ab7;
    width:100%;
    height:15px;

}

.logo:before {
    content:"\f155";
    font-family: "FontAwesome", sans-serif;
    display: inline-block;
    margin-right:15px;
}

footer {
    background-color:#f8f9fa;
    height: 150px;
    padding-top:20px;
}





